<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAccountingService" />
                <binding name="WSHttpBinding_ILibraryService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13371/AccountingService/AccountingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountingService"
                contract="AccountingServiceReference.IAccountingService" name="WSHttpBinding_IAccountingService">
                <identity>
                    <userPrincipalName value="DESKTOP-QT5DU3L\Daniel Bider" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:13372/LibraryService/LibraryService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILibraryService"
                contract="LibraryServiceReference.ILibraryService" name="WSHttpBinding_ILibraryService">
                <identity>
                    <userPrincipalName value="DESKTOP-QT5DU3L\Daniel Bider" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>